html {
  height: 100%;
  font-family: 'Merriweather', serif;

}
body{
  height: 100%;
  margin: 0;
  background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
  .red{
    background:white;
    width:800px;
    height:450px;
    border-radius: 15px;
    margin-left:20%;
    margin-top:100px;
  }
h1{
    margin-left:25%;
    font-size:60px;
}
h2{
    margin-left:44%;
    margin-top:-10%;
    font-size:45px;
}
p{
    margin-left:10%;
    text-align: justify;
    margin-right:10%;
}
button{
    margin-left:45%;
    margin-top:5%;
    border-radius: 15px;
    padding:20px;
    background-color: #FC5C7D;
    width:100px;

  }
  a{
    text-decoration: none;
    color:black;
  }
  img{
    height:220px;
    width:250px;
    margin-left:35%;
  }