html {
    height: 100%;
    font-family: 'Merriweather', serif;

  }
  body{
    height: 100%;
    margin: 0;
    background: #FC5C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .sign{
    margin-top:10%;
    margin-left:38%;
    padding:20px;
    width:390px;
    height: 450px;
    border-radius: 15px;
    background-color:white;
  }
  input{
    padding:10px;
    margin-top:1%;
    margin-left:15%;
    border-radius:15px;

  }
 h1{
    margin-left:28%;
    color:#FC5C7D
  }
  button{
    margin-left:35%;
    margin-top:2%;
    border-radius: 15px;
    padding:10px;
    background-color: #FC5C7D;
  }
  a{
    text-decoration: none;
    color:black;
  }